* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 200px;
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("assets/header-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center -170px;
    background-color: #121212d2;
    background-blend-mode: overlay;
    background-attachment:scroll;
}

header a {
    color: white;
    text-decoration: none;
}


main {
    width: 100%;
    justify-items: center;
}

.search-bar {
    background-color: #2e2e2F;
    width: 100%;
    max-width: 462px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    margin-top: -1rem;
}

.search-bar i {
    color: #9CA3AF;
    font-size: .8em;
    padding: 0 10px;
    padding-bottom: 1px;
}

.search-bar input {
    width: 100%;
    height: 33px;
    background-color: transparent;
    /* padding-left: 10px; */
    border: none;
    color: white;
}

input:focus, .search-bar:focus  {
    outline: none;
    border: 1px solid white;
}

.search-btn {
    margin: 0 0 0 auto;
    padding: 9px 17px 9px 17px;
    border: none;
    background-color: #4B4B4B;
    color: white;
    font-size: 0.8em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.search-btn::before {
    content: '';
    background-color: white;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 7px;
    transition: width .3s linear;
}

.search-btn:hover:before {
    width: 55%;
    height: 2px;
}

div.pre-load {
    margin-top: 40dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2E2E2F;
}

div.pre-load i.fa-film {
    font-size: 4.375rem;
}

div.pre-load p {
    font-size: 1.125rem;
}

div.pre-load .watchlist-p {
    color: #787878;
}

#add-movies-btn {
    margin-top: 1.25em;
    background-color: transparent;
    border: none;
    color: white;
}

button i.fa-circle-plus {
    color: white;
    font-size: 1.125rem;
    margin-right: 4px;
}


/* movie card styles */

.movie-card {
    border-bottom: 1px solid #2C2C2C;
    padding-bottom: 12px;
    width: 60%;
    height: 200px;
    margin: 40px auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
     ". img img . title title title title title title title title title title "
     ". img img . runt runt genre genre genre genre . button button button "
     ". img img . plot plot plot plot plot plot plot plot plot plot"
     ". img img . plot plot plot plot plot plot plot plot plot plot"
     ;
     align-items: start;
     justify-items: start;
}

.movie-card p {
    color: white;
}

.poster-img {
    grid-area: img;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.movie-title {
    grid-area: title;
    font-size: 1.3rem;
}

.movie-rating {
    grid-area: rating;
    font-size: .9rem;
    margin-left: 10px;
    
}

.movie-runtime {
    grid-area: runt;
}

.movie-genre {
    grid-area: genre;
    align-self: start;
}

#to-watchlist, #remove-watchlist {
    grid-area: button;
    background-color: transparent;
    color: white;
    border: none;
}

.movie-card .movie-plot {
    grid-area: plot;
    color: #A5A5A5;
}